<div class="home-page">
  <div class="app-header">
    <div class="header">
      <div class="content">
        License Tracking App(Alpha)
      </div>
    </div>
  </div>
  <div class="app-Options">
    <div class="cards">  
      <div class="card-wrapper">
        <div class="card" style="width: 18rem;">
          <img routerLink="../Register-License-Holder" src="../../assets/1.jpeg" alt="Apply for license">
          <div class="card-body">
            <h5 class="card-title">Apply for license</h5>
            <div class="button" style="margin: 0px 70px 20px 70px;">
               <a routerLink="../Register-License-Holder" class="btn btn-primary">Apply</a>
            </div> 
          </div>
        </div> 
      </div>
      <div class="card-wrapper" style="height: 397.31px;">
        <div class="card" style="max-width: 18rem;">
          <img routerLink="../Query-license-details" src="../../assets/2.png" alt="Apply for license">
          <div class="card-body">
            <h5 class="card-title">Query License Details</h5>
            <div class="button" style="margin: 0px 50px 20px 50px;">
                <a routerLink="../Query-license-details" class="btn btn-primary">Search</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card" style="width: 18rem;">
          <img routerLink="../File-a-case" src="../../assets/3.jpeg" alt="Apply for license">
          <div class="card-body">
            <h5 class="card-title">File a Case Against a License</h5>
            <div class="button" style="margin: 0px 70px 20px 70px;">
                <a routerLink="../Register-Investigator" class="btn btn-primary">File</a>
            </div>            
          </div>
        </div>        
      </div>     
    </div>
  </div>
 
</div>