.home-page{
  .app-header{
    .header{
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    flex-wrap: wrap;
    background-color: azure;
    padding: 10px;
    border: 1px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 10px;
      .content{
        font-size: 100px;
        color: #36cbd2;
        text-align: center;
        display: block;
        flex-wrap: wrap;
        flex: 1;
      
      }
    }
  }
  .app-Options{
    margin: 0px auto;
    display: flex;
    .cards{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 50px auto 50px auto;
      .card-wrapper{
        margin: 40px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
        background-color: azure;
        border: 1px solid rgba(0, 0, 0, 0.125);
        height: 397.31px;
        .card{
          border-radius: 10px;
          background-color: azure;
          font-size: 40px !important;
          color: #36cbd2 !important;
          border: 0px !important;
          height: 397.31px;
          img {
            border-radius: 10px;
            cursor: pointer;
            height: 220px;
          }
          .card-body{
            .card-title {
              text-align: center;
              font-weight: bold;
              padding-top: 15px;
            }
            .button{
              display: block;
              width: 100px !important;
              bottom: 0px;
              position: absolute;
              .btn-primary{
                  background-color: #36cbd2;
                  border: 1px solid #36cbd2;
                  font-size: 20px;
                  width: 100px;
                  font-weight: bold;
              }
              .btn-primary:hover{
                  background-color: azure;
                  color: rgba(0,0,0,0.5);
              }
          }
         }
        }       
      }
    }
  }
}

 
